{% extends "navbar.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="card m-4" style="width: 18rem;">
        <div class="card-body ">
          <h5 class="card-title">Image Colorizer</h5>
          <p class="card-text">Add colors to your black and white images.</p>
          <a href="/img_colorizer" class="btn btn-primary">Go</a>
        </div>   
      </div>
      <div class="card m-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Objct Detector</h5>
          <p class="card-text">Detect objects from image.</p>
          <a href="/obj_detector" class="btn btn-primary">Go</a>
        </div>   
      </div>
    </div>
{% endblock %}